[submodule "external/cmake-ci"]
	path = external/cmake-ci
	url = git@github.lan:cpp/cmake-ci.git
[submodule "external/wrtstat"]
	path = external/wrtstat
	url = git@github.lan:cpp/wrtstat.git
	branch = SUPERMODULE
[submodule "external/phpbtp-client"]
	path = external/phpbtp-client
	url = git@github.lan:cpp/phpbtp-client.git
	branch = master
